.container {
    margin: 10px;
  }
  
  .nav {
    background-color: #7d7878;
    padding: 20px;
  }
  
  .nav a {
    color: #fff;
    text-decoration: none; 
    padding: 8px 16px; 
    margin-right: 10px;
    transition: background-color 0.3s ease; 
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .nav a:hover {
    background-color: #737272;
  }
  
  .nav a.active {
    background-color: #005A82 
  }
  
  .nav a.active:hover {
    background-color: #005A82; 
  }

  .logo {
    height: 75px;
    width: 75px;
    position: absolute;
    margin-left: 70%;
    margin-top: -25px;
  }
  